body {
  background-color: #f3f2ef;
}
.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app__body {
  background-color: #f3f2ef;

  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  min-height: 100vh;

  margin-right: 20px;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .app__body {
    width: 95%;
    max-width: 1600px;
  }
}

@media screen and (max-width: 700px) {
  .app__body {
    width: 90%;
    max-width: 600px;
    margin: auto;

    flex-direction: column;
    order: 1;
  }

  .app {
    height: fit-content;
  }
}
